.popup__input{
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  min-height: 27px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:hover{
  border-bottom: 1px solid rgb(0,0,0,.6);
}

.popup__input:focus{
  border-bottom: 1px solid rgb(0,0,0);
}

.popup__input:last-of-type{
  margin-bottom: 48px;
}

@media screen and (max-width:767px) {
  .popup__input:last-of-type{
    margin-bottom: 45px;
  }
}