.popup__container{
  max-width: 430px;
  background-color: #fff;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width:767px) {
  .popup__container{
    padding: 25px 22px;
    margin: 19px;
  }
}