.popup__input-container{
  height: 60px;
  position: relative;
  
}

.popup__input-container:last-of-type{
  height: 76px;
}

@media screen and (max-width:767px) {
  .popup__input-container:last-of-type{
    height: 73px;
  }
}