.popup__heading{
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 54px;
}

@media screen and (max-width:767px) {
  .popup__heading{
    font-size: 18px;
    margin-bottom: 75px;
  }
}