.profile__avatar{
  background-size: cover;
    border-radius: 50%;
    color: transparent;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 120px;
}
