.edit{
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #fff;
  transition: opacity .2s ease-in-out;
  background: url(../../images/change.svg) no-repeat center;
}

.edit:hover{
  opacity: .6;
}

