.popup{
  display: flex;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,.5);
}