.btn__close{
  width: 32px;
  height: 32px;
  background: url(../../../images/close-icon.svg) no-repeat center;
  background-size: 32px 32px;
}

@media screen and (max-width:767px) {
  .btn__close{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}